<section class="my-[5rem]">
  <div class="tr-container ">
    <div class="wrapper rounded-[12px] px-4 md:px-[80px] py-5 md:py-[55px] grid md:grid-cols-2 gap-6 md:gap-[114px]">
        <div>
            <img src="contact_us_img.svg" alt="contact us img" />
            <h2 
                class="text-[30px] sm:text-[32px] text-[#000000] font-medium leading-[35.84px] tracking-[-1.5px] mt-[25px] mb-[32px]"
            >
                Don't quite find what you want?
            </h2>
            <p 
                class="text-[20px] text-[#424242] font-medium leading-[29.6px] tracking-[-0.75px]"
            >
                Let us know and we will make it available for you in a jiffy.
            </p>
        </div>
        <form class="grid md:grid-cols-2 gap-[24px]">
          <div class="grid gap-[4px]">
            <label for="name" class="text-[14px] text-[#757575] leading-[21.56px]">Your name</label>
            <input 
                type="text" 
                name="name" 
                id="name" 
                placeholder="Enter your name"
                class="border border-[#E0E0E0] rounded-[8px] outline-none p-[12px] w-full"
            />
          </div>
          <div class="grid gap-[4px]">
            <label for="email" class="text-[14px] text-[#757575] leading-[21.56px]">Email</label>
            <input 
                type="email" 
                name="email" 
                id="email" 
                placeholder="Enter your email"
                class="border border-[#E0E0E0] rounded-[8px] outline-none p-[12px] w-full"
            />
          </div>
          <div class="grid gap-[4px]">
            <label for="email" class="text-[14px] text-[#757575] leading-[21.56px]">Product name</label>
            <input 
                type="text" 
                name="productName" 
                id="productName" 
                placeholder="Enter name of product"
                class="border border-[#E0E0E0] rounded-[8px] outline-none p-[12px] w-full"
            />
          </div>
          <div class="grid gap-[4px]">
            <label for="email" class="text-[14px] text-[#757575] leading-[21.56px]">Vendor name</label>
            <input 
                type="text" 
                name="vendorName" 
                id="productName" 
                placeholder="e.g Jumia, Airpeace, Spotify"
                class="border border-[#E0E0E0] rounded-[8px] outline-none p-[12px] w-full"
            />
          </div>
          <div class="md:col-span-2">
            <button class="btn btn-primary w-full !p-[12px]">
              Submit
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                class="icon"
              >
                <path d="M2.5 12L22.5 12" stroke="white" stroke-linecap="round" />
                <path d="M22.5 12L17.5 17" stroke="white" stroke-linecap="round" />
                <path d="M22.5 12L17.5 7" stroke="white" stroke-linecap="round" />
              </svg>
            </button>
          </div>
        </form>
    </div>
  </div>
</section>
