<section class="bg-[#EE7037] py-10 relative">
    <div class="tr-container ">
        <div class="flex items-center justify-between gap-4 flex-wrap md:mx-[7rem]">
            <div class="hero-content">
                <h1 class="text-[32px] sm:text-[40px] md:text-[48px] lg:text-[56px] font-bold text-white tracking-[-0.5px] leading-[68.32px]">
                    Explore all Coupons on 
                    <br>
                    <span class="font-light text-[32px] sm:text-[40px] md:text-[48px] lg:text-[56px]">TwentiesTribe</span>
                </h1>
            </div>
            <div>
                <img src="dark_club.svg" alt="dark club" class="w-full md:w-[240px]">
                <div class="mt-[16px] mb-[32px] flex items-end justify-between gap-[8px]">
                    <div class="text-white">
                        <p class="mb-[4px] text-[12px] font-light tracking-[1px]">PROMOTED</p>
                        <h3 class="text-[20px] font-bold leading-[23.6px] tracking-[-0.75px]">
                            UX Designer Intern at 
                            <br>
                            Google
                        </h3>
                    </div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M16.6992 7.55L6.92374 17.325C6.77707 17.475 6.60289 17.55 6.40122 17.55C6.19954 17.55 6.0237 17.4746 5.87369 17.3237C5.72369 17.1728 5.64868 16.9936 5.64868 16.7862C5.64868 16.5787 5.72369 16.4 5.87369 16.25L15.6492 6.5H6.94874C6.73623 6.5 6.5581 6.42771 6.41434 6.28313C6.27059 6.13853 6.19871 5.95936 6.19871 5.74563C6.19871 5.53188 6.27059 5.35417 6.41434 5.2125C6.5581 5.07083 6.73623 5 6.94874 5H17.4492C17.6617 5 17.8399 5.07187 17.9836 5.21563C18.1274 5.35938 18.1993 5.5375 18.1993 5.75V16.25C18.1993 16.4625 18.127 16.6406 17.9824 16.7844C17.8378 16.9281 17.6586 17 17.4449 17C17.2311 17 17.0534 16.9281 16.9117 16.7844C16.77 16.6406 16.6992 16.4625 16.6992 16.25V7.55Z" fill="white"/>
                        </svg>
                    </span>
                </div>
                <span class="grid grid-cols-4 gap-[4px] w-full">
                    <span class="w-full h-[1px] bg-white inline-block cursor-pointer"></span>
                    <span class="w-full h-[1px] bg-[#FFFFFF3D] inline-block cursor-pointer"></span>
                    <span class="w-full h-[1px] bg-[#FFFFFF3D] inline-block cursor-pointer"></span>
                    <span class="w-full h-[1px] bg-[#FFFFFF3D] inline-block cursor-pointer"></span>
                </span>
            </div>
        </div>
    </div>
</section>